.elementor-1597 .elementor-element.elementor-element-ed8a961:not(.elementor-motion-effects-element-type-background), .elementor-1597 .elementor-element.elementor-element-ed8a961 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1597 .elementor-element.elementor-element-ed8a961{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:20px 0px 20px 0px;}.elementor-1597 .elementor-element.elementor-element-ed8a961 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1597 .elementor-element.elementor-element-ff130d3.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-1597 .elementor-element.elementor-element-ff130d3 .elementor-heading-title{font-family:"Oswald", Sans-serif;font-size:36px;font-weight:400;}.elementor-1597 .elementor-element.elementor-element-83ef32e .elementor-icon-list-icon i{color:#000000;font-size:14px;}.elementor-1597 .elementor-element.elementor-element-83ef32e .elementor-icon-list-icon svg{fill:#000000;width:14px;}.elementor-1597 .elementor-element.elementor-element-83ef32e .elementor-icon-list-icon{width:14px;}.elementor-1597 .elementor-element.elementor-element-83ef32e .elementor-icon-list-text, .elementor-1597 .elementor-element.elementor-element-83ef32e .elementor-icon-list-text a{color:#000000;}.elementor-1597 .elementor-element.elementor-element-83ef32e .elementor-icon-list-item{font-family:"Poppins", Sans-serif;font-size:14px;}.elementor-1597 .elementor-element.elementor-element-83ef32e > .elementor-widget-container{padding:10px 0px 10px 0px;border-style:solid;border-width:1px 0px 1px 0px;border-color:#EEEEEE;}.elementor-1597 .elementor-element.elementor-element-648cb7f{color:#000000;font-family:"Poppins", Sans-serif;font-size:16px;line-height:1.8em;}.elementor-1597 .elementor-element.elementor-element-784d207:not(.elementor-grid-0) .elementor-grid{grid-column-gap:10px;grid-row-gap:10px;}.elementor-1597 .elementor-element.elementor-element-784d207.elementor-grid-0 .elementor-share-btn{margin-right:calc(10px / 2);margin-left:calc(10px / 2);margin-bottom:10px;}.elementor-1597 .elementor-element.elementor-element-784d207.elementor-grid-0 .elementor-grid{margin-right:calc(-10px / 2);margin-left:calc(-10px / 2);}.elementor-1597 .elementor-element.elementor-element-784d207 > .elementor-widget-container{margin:-10px 0px 0px 0px;}.elementor-1597 .elementor-element.elementor-element-5d9220d > .elementor-widget-container{padding:10px 10px 10px 10px;}@media(min-width:768px){.elementor-1597 .elementor-element.elementor-element-2c95112{width:64.931%;}.elementor-1597 .elementor-element.elementor-element-856ed3c{width:35%;}}@media(max-width:1024px){ .elementor-1597 .elementor-element.elementor-element-784d207.elementor-grid-tablet-0 .elementor-share-btn{margin-right:calc(10px / 2);margin-left:calc(10px / 2);margin-bottom:10px;} .elementor-1597 .elementor-element.elementor-element-784d207.elementor-grid-tablet-0 .elementor-grid{margin-right:calc(-10px / 2);margin-left:calc(-10px / 2);}}@media(max-width:767px){ .elementor-1597 .elementor-element.elementor-element-784d207.elementor-grid-mobile-0 .elementor-share-btn{margin-right:calc(10px / 2);margin-left:calc(10px / 2);margin-bottom:10px;} .elementor-1597 .elementor-element.elementor-element-784d207.elementor-grid-mobile-0 .elementor-grid{margin-right:calc(-10px / 2);margin-left:calc(-10px / 2);}}/* Start custom CSS for theme-post-content, class: .elementor-element-648cb7f */.elementor-1597 .elementor-element.elementor-element-648cb7f a {color:#4169E1;}/* End custom CSS */
/* Start custom CSS for post-comments, class: .elementor-element-2f2f613 */.elementor-1597 .elementor-element.elementor-element-2f2f613 a {font-family:"poppins";color:#4169E1;}
.elementor-1597 .elementor-element.elementor-element-2f2f613 h3 {font-family: "poppins"}
.elementor-1597 .elementor-element.elementor-element-2f2f613 .submit {font-family: "poppins";font-size:16px;border-radius:50px;background:#ffd700;color:#000;font-weight:500;}/* End custom CSS */
/* Start custom CSS for sidebar, class: .elementor-element-5d9220d */.elementor-1597 .elementor-element.elementor-element-5d9220d a {font-family: "poppins";font-size:15px;color:#555;}
.elementor-1597 .elementor-element.elementor-element-5d9220d a:hover {color:#000;}
.elementor-1597 .elementor-element.elementor-element-5d9220d h2 {font-family: "oswald";font-weight:400;text-transform:capitalize;}

.widget_recent_entries li:before {
    content: '\f0a9';
}
.widget_recent_entries li:before {
    font-family: 'FontAwesome';
    float: left;
    margin-left:-30px ;
}
.widget_recent_entries li {padding-left: 30px;border-width: 0px 0px 1px 0px;
    padding-bottom: 3px!important;
    padding-top: 3px;border:1px dashed #eee;}/* End custom CSS */